body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container1  {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #FFDCF1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-top: 0;
  font-size: 24px;
}

.order {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.order:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-number {
  font-weight: bold;
}

.order-status {
  text-transform: uppercase;
  font-weight: bold;
}

.order-date {
  color: #666;
}

.order-details {
  margin-top: 10px;
}

.order-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.detail-label {
  color: #666;
}

.detail-value {
  font-weight: bold;
}